{% extends 'entidades/index.html' %}


{% block titulo %}
<h1>¿Cual sera tu nueva adquisición?</h1>
{% endblock titulo %}

{% block contenido %}
<section class="bg-dark text-white p-4">
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <input class="btn btn-success" type="submit" value="Comprar">
</form>
</section>
{% endblock contenido %}