{% extends 'entidades/index.html' %}

{% block menu %}
{% endblock menu %}


{% block titulo %}
<pre>



</pre>
<div class="col-xl-8 container position-relative">
<h1 class="mb-5">Auto Market</h1>
<div class="text-white bg-dark bg-opacity-75">
<h3>Tu auto ideal puede estar a un clic de distancia</h3>
<p class="w-100 p-3">Bienvenido a AutoMarket, tu portal de confianza para la compra y venta de automóviles. En AutoMarket, conectamos a vendedores y compradores de manera rápida, segura y eficiente. Encuentra una amplia variedad de coches de diferentes marcas, modelos y precios que se adaptan a todas tus necesidades y presupuestos. Nuestro sistema avanzado de búsqueda te permite localizar tu coche ideal con facilidad, y nuestras detalladas reseñas y puntuaciones te ayudarán a tomar la mejor decisión.</p>
</div>
<div class="text-white bg-dark bg-opacity-75">
<p>Inicia sesion hoy y comienza a explorar el camino hacia tu nuevo automóvil con AutoMarket.</p>
<a class="btn btn-success" href="{% url 'login' %}">Iniciar sesion</a>
</div>
<pre>






    
</pre>
</div>
{% endblock titulo %}

{% block contenido %}
{% endblock contenido %}

{% block info %}
{% endblock info %}